footer.footer
    .footer-top
        .footer-top__column
            p.column__text
                | Этот сайт сделал я в рамках обучения
                | в Школе онлайн образования LoftSchool
        .footer-top__column
            nav.navigation.navigation__footer
                ul.navigation__list
                    li.navigation__item
                        a.navigation__link(href='works.html', target='_self') Мои работы
                    li.navigation__item
                        a.navigation__link(href='blog.html', target='_self') Блог
                    li.navigation__item
                        a.navigation__link(href='index.html', target='_self') Обо мне
                    li.navigation__item
                        a.navigation__link(href='auth.html', target='_self') Авторизация

            ul.socials.socials__footer
                -
                    icons = ['vk', 'github', 'in'];
                each icon in icons
                    li.social__item
                        a(href="#").social__link
                            svg.social__icon
                                use(xlink:href=`assets/img/sprite/sprite.svg#${icon}`)
            //ul.socials.socials__footer
            //    li.social__item
            //        a.social__link(href='#', target='_blank')
            //            svg.social__icon
            //                use(xlink:href='assets/img/sprite.svg#vk')
            //    li.social__item
            //        a.social__link(href='#', target='_blank')
            //            svg.social__icon
            //                use(xlink:href='assets/img/sprite.svg#github')
            //    li.social__item
            //        a.social__link(href='#', target='_blank')
            //            svg.social__icon
            //                use(xlink:href='assets/img/sprite.svg#in')
        .footer-top__column
            .column__text
                .quote-text
                    | Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                .quote-author - Martin Golding
    .footer-bottom
        .footer-bottom__text
            span.footer-bottom__text-name © Андрей Коршунов
            span.footer-bottom__text-love Создано с любовью в LoftSchool
            span.footer-bottom__text-year 2017