.triangle {
  height: 100px;
  width: 100%;

  &_fill {

    &_white {
      fill: $white;
    }

    &_beige {
      fill: $beige;
    }

  }
}

.triangle__works{
  display: inline-block;
  width: 1700px;
}
.works__triangles {
  width: 100%;
  position: relative;
  bottom: 100%;
  left: 0;
  margin-top: 1px;
}
.triangle_fill_white_blog{
  fill: #ffffff;

}
